.navigation {
    background-color: #ff6600;
    color: #ffffcc;
    position: fixed;
    width: 100%;
    height: 10%; 
    word-spacing: 3em;
    text-align: center;
    
}

.navigation li {
    display: inline;
    text-transform: uppercase;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
   
}

a {
    color: #ffffcc;
    text-decoration: none;
}

.navigation li:hover {
    color: #663300;
}

#about {
    width: 100%;
    align-content: center;
    background-color: #ffffcc;
    margin-bottom: 2em;
    height: 10%;
   
    
}

#about img {
    border-radius: 1em;
    width: 25em;
    height: 37em;
    margin: auto;
    margin-left: 29em;
    
    
    
}

 h1, h3  {
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #663300;
    font-weight: 700;
    
}

#projects {
    margin-top: 2em;
    margin-bottom: 6em;
    width: 100%;
    
}

.batarele img{
    height:25em;
    width:35em;
    margin-left: 8em;
    border-radius: 1em;
    border: 1px solid black;
    float: left;
    margin-bottom: 2em;
    
}

.batarele h3, p {
    display: block;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    float: right;
    margin:none ;
    width: 32em;
}


#button {
    
    border: 1px solid black;
    border-radius: 1.5em;
    display: inline-block;
    width:11em;
    height: 2em;
    margin-right: 20em;
    text-align: center;
    background-color: #ff6600;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding: 1em 0em;
    color: #ffffcc;
    font-size: 1em;   
}

#button:hover {
    color: #663300;
}

#skills {
    clear: both;
    padding-top:2em;
    width:100%;
    background-color: #ffffcc; 
    margin-bottom: 2em;
}

#skills progress {
    width:80%;
    margin-left: 6em;
    margin-bottom: 2em;
        
}

footer  {
   position: absolute;
   text-align: center; 
   margin-left: 27em;
      
}

@media only screen and (max-width: 460px) {
    .navigation li {
        font-size:1.5em;
        display: block;
        text-align: center;
        margin:auto;
        
       
    }
    .navigation {
       width: 100%;
       height: 23%;
       display: block;
       margin:auto;
       background-color: #ff6600;
       position: absolute;  
      
    }
    #about img {
        width:100%;
        height:15%;
        margin:auto;
        margin-top: 4em;
        
    } 
    .batarele img, p {
        margin: auto;
        width: 100%;
        display: inline-block;
        height: auto;
        align-items: center;
        text-align: center;
    }
    #button {
        margin: auto;
        position: relative;
        margin-right: 5em;
        height: 1.5em;
        width: 6em;
    } 
    
    #skills progress, footer{
        margin: auto;
        display: block;
    } 
    h3, {
        margin: auto;
        text-align: center;
        display: block;
    } 
}
 
@media only screen and (min-width:460px) and (max-width:940px) {
    .navigation li {
        font-size:2em;
        display: inline-block;
        text-align: center;
        margin:auto;
        }
        
        .navigation {
       width: 100%;
       height: 20%;
       display: block;
       margin:auto;
       background-color: #ff6600;
       position: absolute;  
        }
    
    #about img {
        width:70%;
        height:15%;
        margin-left: 6em;
        margin-top: 3em;
        
        
        
    }
   
      .batarele img, p {
        margin: auto;
        width: 100%;
        display: inline-block;
        height: auto;
        align-items: center;
        text-align: center;
    }
    #button {
        margin: auto;
        position: relative;
        margin:auto;
        height: 1.5em;
        width: 6em;
    } 
    
    #skills progress,{
        margin: auto;
        display: block;
    } 
    h3, {
        margin: auto;
        text-align: center;
        display: block;
    } 
    footer {
        margin: auto;
        text-align: center;
    }
   
}

@media screen only and (min-width:960px) and (max-width:1199px)
{
    #about img {
        margin: auto;
        width:70%;
        height:15%;
       
}